.card {
  border: 1px solid gray;
  width: 150px;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .thumbnail {
    max-width: 100%;
  }

  .title {
    text-transform: capitalize;
  }

  .abilities {
    padding-left: 10px;
    text-transform: capitalize;
  }
}
