<section>
  <div class="page-actions">
    <label>Pokemons Per Page: </label>
    <div>
      <select
        [(ngModel)]="displayCardCount"
        (change)="onChangeDisplayCount($event)"
      >
        <option
          *ngFor="let count of cardsPerPage"
          [value]="count"
          [selected]="count === displayCardCount"
        >
          {{ count }}
        </option>
      </select>
    </div>

    <button
      class="previous"
      (click)="onClickPrevious()"
      [disabled]="previous === null"
    >
      Previous
    </button>
    <button class="next" (click)="onClickNext()">Next</button>
  </div>
  <div class="cards">
    <ng-container *ngFor="let pokemon of pokemons">
      <app-card [pokemon]="pokemon"></app-card>
    </ng-container>
  </div>
</section>
